body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f8f8;
}

.robo-container {
    position: relative;
}

.robo {
    width: 200px; /* Ajuste o tamanho conforme necessário */
    height: 240px; /* Ajuste o tamanho conforme necessário */
    background-color: #8e44ad; /* Cor roxa */
    border-radius: 15px 15px 40px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: bounce 1s infinite alternate;
}

.olho {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 25%;
}

.olho.esquerdo {
    left: 30%;
}

.olho.direito {
    left: 50%;
}

.boca {
    width: 80px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.antena {
    width: 10px;
    height: 80px;
    background-color: #fff;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
