body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f8f8;
}

.robo-container {
    position: relative;
}

.robo {
    width: 200px;
    height: 240px;
    background-color: #8e44ad;
    border-radius: 15px 15px 40px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: bounce 1s infinite alternate;
}

.olho {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 25%;
}

.olho.esquerdo {
    left: 20%; /* Aumentei a distância entre os olhos */
}

.olho.direito {
    left: 50%;
}

.boca {
    width: 80px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.antena {
    width: 10px;
    height: 80px;
    background-color: #7f8c8d; /* Cor cinza */
    position: absolute;
    top: 10%;
}

.antena.esquerda {
    left: 45%; /* Posição ajustada para a esquerda */
}

.antena.direita {
    left: 55%; /* Posição ajustada para a direita */
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
